In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?
Ans.
There are three types of comments in python:
    1. Single line
    2.multi line
    3.docstring
Q2. What are variables in Python? How do you declare and assign values to variables?
Ans
Python variables are simply containers for storing data values.
eg. Age =30,name='avishek",sex="male"

Q3. How do you convert one data type to another in Python?
Ans.
We can covert data type using funstion like str(),int(),float()
Q4. How do you write and execute a Python script from the command line?
Ans.
First we have to check python available or not in CMD/Terminal using python/python3 if its availabe excute the program.
if not available first install the python.
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
Ans.

In [3]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

In [14]:
Q6. What is a complex number in mathematics, and how is it represented in Python?
Ans.
Complex numbers are the numbers that are expressed in the form of a+ib where a,b are real numbers and i is an imaginary number.
The complex data type in python consists of two values the first one is the real part and second one is imaginory part.eg 3+5j
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
Ans.
age= int(25)

SyntaxError: invalid syntax (2230551025.py, line 2)

In [13]:
age= int(25)
age

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
ans.
This variable belongs to float data type.

In [16]:
price=float(9.99)
price

9.99

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [19]:
name=str("Avishek Dubey")
name

'Avishek Dubey'

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [20]:
s="Hello, World!"
s[7:12]

'World'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [22]:
is_student=bool(True)